@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Yeseva+One&display=swap');

@font-face {
  font-family:myFont ;
  src: url(../fonts/Erotique-Alternate-Bold-trial.ttf);
  font-weight: 700;
}

#video{
  background-image: url(../Imagenes/fondo.png);
  height: auto;
  }

body
{
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand
{
    font-family: myFont;
    color: #8CC877;
    font-size: 2em;
}

.nav-link
{
  font-family: 'Montserrat', sans-serif;
  color: black;
}

h2
{
  font-family: myFont;
  color: #8CC877;
}

#formulario
{
  background-color: #D2E6B2;
}

button
{
  border: none;
  background-color: white;
}

h3
{
  position: relative;
  opacity: 0;
  transition: all 0.2s linear;
  color: black;
  font-size: 1.2em;
}

a
{
  text-decoration: none;
}

.imagen-cuadricula:hover + h3
{
  opacity: 100;
  transition: all 0.2s linear;
}

.imagen-cuadricula:hover
{
  width: 90%;
}

footer
{
  background-color: #D2E6B2;
  color: white;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?328ske');
    src:  url('../fonts/icomoon.eot?328ske#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?328ske') format('truetype'),
      url('../fonts/icomoon.woff?328ske') format('woff'),
      url('../fonts/icomoon.svg?328ske#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.icon-menu-icon:before {
    content: "\e9bf";
    color: #8CC877;
  }
